<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582450987697-2qp40bn7mooclsv4rs8ra8sshncb4j32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582450987697-2qp40bn7mooclsv4rs8ra8sshncb4j32</string>
	<key>API_KEY</key>
	<string>AIzaSyBw9Fvrjz02ADlu1M63ednB48bhdU9NaJw</string>
	<key>GCM_SENDER_ID</key>
	<string>582450987697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drnashar.drNashar</string>
	<key>PROJECT_ID</key>
	<string>dr-nashar</string>
	<key>STORAGE_BUCKET</key>
	<string>dr-nashar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582450987697:ios:c2e7d0a0d60797c6ed5890</string>
</dict>
</plist>